@model Livre
<h1>Nouveau Livres :</h1>
@if (ViewData.ContainsKey("ValidateMessage"))
{
    <p>@ViewData["ValidateMessage"]</p>
}
<form asp-controller="Livres" asp-action="Nouveau" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label asp-for="@Model.titre"></label></td>
            <td><input asp-for="@Model.titre"></td>
            <td><span asp-validation-for="@Model.titre" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.auteur"></label></td>
            <td><input asp-for="@Model.auteur"></td>
            <td><span asp-validation-for="@Model.auteur" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.isbn"></label></td>
            <td><input asp-for="@Model.isbn"></td>
            <td><span asp-validation-for="@Model.isbn" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.date_publication"></label></td>
            <td><input asp-for="@Model.date_publication"></td>
            <td><span asp-validation-for="@Model.date_publication" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="@Model.couvertureFile"></label></td>
            <td><input asp-for="@Model.couvertureFile"></td>
            <td><span asp-validation-for="@Model.couvertureFile" class="text-danger"></span></td>
        </tr>
    </table>
    <input type="submit" value="Envoyer">
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}